<h1>{{name}}</h1>
<div id="results-containter">
  <p>
    <strong>{{responses}}</strong> responses</br>
    <strong>{{rank}}</strong> rank by comment count</br>
    <strong>{{percent}}%</strong>  of population</br>
    <strong>{{percent_rank}}</strong>  rank by % of population</br>
  </p>

</div>

<div id="results-map-container">
  <div id="navigate">
    <span class="glyphicon glyphicon-plus" id="zoom-in" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-minus" id="zoom-out" aria-hidden="true"></span>

  </div>
  <div id="usamap"></div>
  <div id="tooltip"></div>
</div>

<p class="summary">
  Showing {{limit}} results of {{total}}
<p>
<form class="navbar-form navbar-left" role="search">
    <div class="form-group">
      <input type="text" class="form-control" ng-model="query" placeholder="Search">
      <button type="submit" class="btn btn-default" ng-click="DkanTable.reload()">Submit</button>
    </div>
</form>
<table ng-table="DkanTable" class="table">
<tr ng-repeat="record in $data">
    <td data-title="'Applicant'">{{record.applicant}}</td>
    <td data-title="'City'">{{record.city}}</td>
    <td data-title="'Text'">{{record.text}}</td>
</tr>
</table>
