
<div class="container map text-center">
  <h2>Comments by U.S. county/state</h2>
  <p>Hover to see each county or click to zoom into an individual state</p>

<aside id="usamap-container">
<p>
The following map highlights the number of respondents to the initial FCC public comment period on its proposed <a href="http://www.fcc.gov/document/protecting-and-promoting-open-internet-nprm">changes</a> for net neutrality rules which have been cited as potentially <a href="http://www.theverge.com/2014/4/23/5644246/fcc-new-net-neutrality-rules-draft-coming-in-may">destroying net neutrality</a>.
</p><p>
The initial comment period ended <strong>July 18, 2014</strong>. The comment period was later <a href="http://www.pcworld.com/article/2466100/fcc-extends-net-neutrality-comment-period-to-sept-15.html">extended</a> to <strong>September 15, 2014</strong>.
</p><p>
The following data was <a href="http://www.fcc.gov/blog/fcc-makes-open-internet-comments-more-accessible-public">made available</a> by the FCC in a series of xml files. Some work was required to clean this up into the CSV file below.
</p><p>
Approximately 446,667 items were made available by the FCC. The following represents 435,789 of those items which contained correct zip codes.
<p>

<div id="usamap">
  <div id="map-menu">
    <div class="btn-group">
      <button id="by-number" type="button" class="btn btn-default active"  ng-click="byNumber()">By Number</button>
      <button id="by-percent" type="button" class="btn btn-default"  ng-click="byPercent()">By Percent</button>
    </div>
  </div>
  <div id="tooltip">
  </div>
</div>


</div>

<div class="number">
  <div class="container">

    <div class="row numbers">
      <div class="col-ld-12">
        <h2>The numbers</h2>
      </div>
    </div>

    <div class="row numbers">
      <div class="col-md-6 text-right">
        Comment period
      </div>
      <div class="col-md-6 numbers2 text-left">
        July 18 - September 15, 2014
      </div>
    </div>
    <hr>
    <div class="row numbers">
      <div class="col-md-6 text-right">
        # of comments
      </div>
      <div class="col-md-6 numbers2 text-left">
        435,789*
      </div>
    </div>
    <hr>
    <div class="row numbers">
      <div class="col-md-6 text-right">
        # of counties with responses
      </div>
      <div class="col-md-6 numbers2 text-left">
        2,876**
      </div>
    </div>
  </div>
</div>
    <hr>
    <p>* represents number of comments that contained correct zip codes<br>
      ** out of 3,007</p>
    <hr class="big">
    <div class="row">
      <div class="col-lg-12" id="tables">
        <div ng-include src="'partials/tables.html'"></div>
        <div class="tool"></div>
      </div>
    </div>
  </div>
</div>

<div class="">
  <div class="container">
    <div class="row numbers">
      <div class="col-lg-12">
        <h2>Data</h2>
      </div>
    </div>
  </div>
</div>

<div class="reading">
  <div class="container">

    <div class="row">
        <div class="col-lg-12 reading-h2">
        <h2>Recommended reading</h2>
      </div>
    </div>

    <div class="row">
        <div class="col-md-3 text-center">
          <i class="fa fa-bookmark fa-5"></i>
      </div>
        <div class="col-md-9">
        <ul>
          <li><a href="http://www.fcc.gov/blog/update-volume-open-internet-comments-submitted-fcc">An Update on the Volume of Open Internet Comments Submitted to the FCC</a></li>
          <li><a href="http://www.fcc.gov/blog/additional-option-filing-open-internet-comments">An Additional Option for Filing Open Internet Comments</a></li>
          <li><a href="http://www.fcc.gov/blog/fcc-makes-open-internet-comments-more-accessible-public">FCC Makes Open Internet Comments More Accessible to Public</a></li>
          <li><a href="http://www.fcc.gov/blog/keeping-track-open-internet-comments-submitted-fcc">Keeping Track of the Open Internet Comments Submitted to the FCC</a></li>
          <li><a href="http://www.fcc.gov/blog/fcc-makes-open-internet-comments-more-accessible-public">FCC Makes Open Internet Comments More Accessible to Public</a></li>
        </ul>
      </div>
    </div>

  </div>
</div>

<div class="footer">
    <div class="container">
      <div class="col-md-6 text-center">
        <p>Powered by</p>
      <p><a href="http://nucivic.com/dkan"><img src="img/dkan.png" title="DKAN" alt="DKAN" class="dkan"></a></p>
    </div>
      <div class="col-md-6 text-center">
        <p>Built by</p>
      <p><a href="http://nucivic.com/"><img src="img/nucivic.svg" title="NuCivic" alt="NuCivic"></a></p>
    </div>
  </div>
</div>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-541cd2f9624262b0"></script>
