<aside id="usamap-container">
<p>
The following map highlights the number of respondents to the initial FCC public comment period on its proposed <a href="http://www.fcc.gov/document/protecting-and-promoting-open-internet-nprm">changes</a> for net neutrality rules which have been cited as potentially <a href="http://www.theverge.com/2014/4/23/5644246/fcc-new-net-neutrality-rules-draft-coming-in-may">destroying net neutrality</a>.
</p><p>
The initial comment period ended <strong>July 18, 2014</strong>. The comment period was later <a href="http://www.pcworld.com/article/2466100/fcc-extends-net-neutrality-comment-period-to-sept-15.html">extended</a> to <strong>September 15, 2014</strong>.
</p><p>
The following data was <a href="http://www.fcc.gov/blog/fcc-makes-open-internet-comments-more-accessible-public">made available</a> by the FCC in a series of xml files. Some work was required to clean this up into the CSV file below.
</p><p>
Approximately 446,667 items were made available by the FCC. The following represents 435,789 of those items which contained correct zip codes.
<p>
<h2>Comments by County</h2>
<p>
The following represents comments by US county. Hover to see each county or click to zoom into an individual state.</p>
<div id="usamap"><div id="tooltip"></div></div>


<h2>By the numbers</h2>
<p>People from 2876 out of 3,007 counties responded.</p>
<p>The top ten counties by respsonse were:</p>
<table class="table table-bordered table-striped">
<thead><tr><th>County</th><th>Responses</th></tr></thead>
<tbody>
	<tr>
		<td><a href="#county/6037">Los Angeles County, CA</a></td><td>19,196</td>
	</tr>	
		<tr>
		<td><a href="#county/17031">Cook County, IL</a></td><td>10,027</td>
	</tr>
		<tr>
		<td><a href="#county/53033">King County, WA</a></td><td>9023</td>
	</tr>
		<tr>
		<td><a href="#county/36061">New York County, NY</a></td><td>6718</td>
	</tr>
	<tr>
		<td><a href="#county/6075">San Francisco County, CA</a></td><td>5960</td>
	</tr>
	<tr>
		<td><a href="#county/6073">San Diego County, CA</a></td><td>5935</td>
	</tr>
		<tr>
		<td><a href="#county/6001">Alameda County, CA</a></td><td>5627</td>
	</tr>
	<tr>
		<td><a href="#county/36047">King County, NY</a></td><td>5413</td>
	</tr>
	<tr>
		<td><a href="#county/4013">Maricopa County, AZ</a></td><td>5313</td>
	</tr>
	<tr>
		<td><a href="#county/25017">Middlesex, MA</a></td><td>4989</td>
	</tr>
</tbody>
</table>
<h3>Full Data</h3>
<p>
The full data can be found on our DKAN site: <a href="http://test-fcc-comments.getnucivic.com/dataset/fcc-comments">http://test-fcc-comments.getnucivic.com/dataset/fcc-comments</a>
</p><p>
Comments can be queried individually below:
</p>
<iframe width="100%" height="900" src="http://test-fcc-comments.getnucivic.com/node/15/recline-embed" frameborder="0"></iframe>
</aside>