<aside id="usamap-container">
The following map highlights the number of respondents to the recent FCC public comment period XXXXXX.
<div id="usamap"><div id="tooltip">Here I come to save the day.</div></div>


<h2>By the numbers</h2>
<p><strong>XXXX</strong> from 2876 counties responded to XXXXXXX.</p>
<p>The top ten counties by respsonse were:</p>
<table class="table table-bordered table-striped">
<thead><tr><th>County</th><th>Responses</th></tr></thead>
<tbody>
	<tr>
		<td><a href="#county/6037">Los Angeles County, CA</a></td><td>19,196</td>
	</tr>	
		<tr>
		<td><a href="#county/17031">Cook County, IL</a></td><td>10,027</td>
	</tr>
		<tr>
		<td><a href="#county/53033">King County, WA</a></td><td>9023</td>
	</tr>
		<tr>
		<td><a href="#county/36061">New York County, NY</a></td><td>6718</td>
	</tr>
	<tr>
		<td><a href="#county/6075">San Francisco County, CA</a></td><td>5960</td>
	</tr>
	<tr>
		<td><a href="#county/6073">San Diego County, CA</a></td><td>5935</td>
	</tr>
		<tr>
		<td><a href="#county/6001">Alameda County, CA</a></td><td>5627</td>
	</tr>
	<tr>
		<td><a href="#county/36047">King County, NY</a></td><td>5413</td>
	</tr>
	<tr>
		<td><a href="#county/4013">Maricopa County, AZ</a></td><td>5313</td>
	</tr>
	<tr>
		<td><a href="#county/25017">Middlesex, MA</a></td><td>4989</td>
	</tr>
</tbody>
</table>
</aside>