
<div class="row">
  <div class="col-lg-12">
    <h2>Top Counties</h2>
  </div>
</div>
<div class="btn-group">
  <button id="count-by-number" type="button" class="btn btn-default active"  ng-click="ctyByNumber()">By Number</button>
  <button id="count-by-percent" type="button" class="btn btn-default"  ng-click="ctyByPercent()">By Percent</button>
</div>
<p>
<div id="count-table-outer">
  <table id="count-table" ng-table="CountTable" class="table table-bordered table-striped">
    <tr ng-repeat="record in $data">
      <td data-title="'County'"><a href="#county/{{record.countyid}}">{{record.countyname}}</a></td>
      <td class="comment" data-title="Comments"><a county-id="{{record.countyid}}" class="county-link" href="#county/{{record.countyid}}"><div class="chart"><div style="width: {{record.width}}px;">{{record.count}}</div></div></a></div></td>
    </tr>
  </table>
</div>
<div id="percent-table">
  <table  ng-table="PercentTable" class="table table-bordered table-striped">
    <tr ng-repeat="record in $data">
      <td data-title="'County'"><a county-id="{{record.countyid}}" class="county-link" href="#county/{{record.countyid}}">{{record.countyname}}</a></td>
      <td data-title="'Percent'"><a county-id="{{record.countyid}}" class="county-link" href="#county/{{record.countyid}}"><div class="chart"><div style="width: {{record.width}}px;">{{record.percent}}</div></div></a></div></td>
    </tr>
  </table>
</div>

<div class="row">
  <div class="col-lg-12">
    <h2>Top States</h2>
  </div>
</div>
<div class="btn-group">
  <button id="count-by-number" type="button" class="btn btn-default active"  ng-click="ctyByNumber()">By Number</button>
  <button id="count-by-percent" type="button" class="btn btn-default"  ng-click="ctyByPercent()">By Percent</button>
</div>
<div id="state-percent-table">
  <table  ng-table="stateCountTable" class="table table-bordered table-striped">
    <tr ng-repeat="record in $data">
      <td data-title="'State'"><a state-id="{{record.state}}" class="county-link" href="#state/{{record.state}}">{{record.state}}</a></td>
      <td data-title="'Comments'"><a state-id="{{record.state}}" class="county-link" href="#state/{{record.state}}"><div class="chart"><div style="width: {{record.width}}px;">{{record.rate}}</div></div></a></div></td>
    </tr>
  </table>
</div>
